.App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Default: Desktop View */
body{
  margin:0;
}

.pageWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid #aaa;
  padding: 30px;
  min-width: 300px;
  min-height: 380px;
}

.card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.card input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.card button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.card button:hover{
  background: #ddd;
}

/* Tablet View */
@media (max-width: 768px) {
  .pageWrapper {
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .card {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
}